---
layout: page
title: Archiv
footer: false
date: 2013-06-15 20:53
hide_date: true
---

<ul class="archives">
  {% for post in site.posts reverse %}
    {% if post.published == false %}

    {% else %}
      {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}

      <li{% unless month == this_month %}{% assign month = this_month %} class="archives-new-month"{% endunless %}>
        {{ post.date | date: "%d. %B"}}:
        <a href="{{ root_url }}{{ post.url }}">{{post.title}}</a>
      </li>
    {% endif %}

  {% endfor %}
</ul>
