<div class="article">
  <h1>
    {% if index %}
      <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    {% else %}
      {{ page.title }}
    {% endif %}
  </h1>

  {% unless index %}{% if page.tldr %}
    <p class="tldr"><strong>tl;dr:</strong> {{ page.tldr }}</p>
  {% endif %}{% endunless %}

  {% if index %}
    {% if post.excerpt %}
        {{ post.excerpt | markdownify }}
      <p>
        <a class="link-to-complete-post" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
      </p>
    {% else %}
      {{ content }}
    {% endif %}
  
  {% else %}
    {{ content | image_blockify }}
  {% endif %}


  {% unless index or page.hide_date %}
    {% if page.date %}
      <p class="date-published">{{ page.date | date: '%e. %B %Y' }}</p>
    {% endif %}
  {% endunless %}
</div>
