  <div class="footer">
    <ul class="footer-normal-links">
      <li><a href="{{ root_url }}{{ site.subscribe_rss }}">Feed</a></li>
      <li><a href="{{ root_url }}/changelog">Changelog</a></li>
      <li>Powered by <a href="http://octopress.org/">Octopress</a></li>
    </ul>
    <ul class="footer-small-links">
      <li><a class="footer-small-link" href="{{ root_url }}/impressum">Impressum</a></li>
      <li><a class="footer-small-link" href="{{ root_url }}/datenschutz">Datenschutz</a></li>
    </ul>
  </div>

</body>
</html>
