$paragraphMargin: 27px;

.article {margin-bottom:80px;

  h1, p {max-width:$contentWidth; margin:0 auto;}
  h1 {margin:69px auto 42px; padding:24px 0; border-top:1px solid $borderColor; border-bottom:1px solid $borderColor; line-height:42px; text-align:center; font-size:36px; word-wrap:break-word;
    &:first-of-type {margin-top:0;}
    a {color:$textColor; transition:color 0.2s;
      &:hover {color:$linkColor; text-decoration:none;}
    }
    sup a {color:$linkColor;}
  }

  h2 {max-width:$contentWidth; margin:42px auto 27px;}
  .changelog-title {margin-top:0; margin-bottom:18px;
    @include responsive() {padding:0;}
  }

  h3 {max-width:$contentWidth; margin:30px auto 21px;}
  
  p {margin-bottom:$paragraphMargin;}
  .tldr {max-width:$contentWidth - 80px; margin-bottom:$paragraphMargin + 6px; padding:20px; background:rgba($linkColor, 0.15); font-size:0.9em;}
  .changelog-date {margin-bottom:2px; font-size:0.7em;}
  .changelog-content {margin-bottom:64px;}
  .date-published {margin-top:80px; text-align:center; font-size:0.8em;
    &:before, &:after {content:"–"; margin:0 10px;}
  }

  blockquote {padding:10px 0 $paragraphMargin; margin:0;
    p {font-style:italic; max-width:$contentWidth - 60px; margin-bottom:0; padding-left:16px; padding-bottom:$paragraphMargin; border-left:2px solid $borderColor; color:lighten($textColor, 25%);
      &:last-child {padding-bottom:0;}
    }
    // center whole blockquote because not all content will be rendered inside p-tags
    &.twitter-tweet {max-width:$contentWidth; margin-left:auto; margin-right:auto;}
  }

  a {color:$linkColor;}
  sup {line-height:1; font-size:0.7em;}
  ul, ol {max-width:560px; margin:0 auto; padding:0 20px 0 40px; margin-bottom:$paragraphMargin;}
  ol {padding-left:70px;}
  img {max-width:100%;}
  .image-block {max-width:none; margin-left:0; margin-right:0; padding-left:0; padding-right:0; text-align:center;}

  .multiple-thumbs {margin:50px 20px 30px; text-align:center;
    p {display:inline-block; margin:0 10px 12px; font-size:0.9em; color:#999;}
    img {display:block; margin-bottom:6px;}
  }

  .emphasize {@extend .tldr; margin:0 auto $paragraphMargin; background:#eee;
    ul {margin:10px 0;}
    &.archive-teaser p {margin-bottom:0;}
    &.emphasize-center {text-align:center;}
  }

  .small-block {color:#aaa; line-height:1.33;}

  @include responsive() {
    h2, h3, > p, blockquote, .changelog {padding-left:20px; padding-right:20px;}
  }
}

.link-to-complete-post {font-weight:bold;}

.footnotes {max-width:$contentWidth; margin:42px auto 0; line-height:1.5;
  hr {height:0; margin:0; margin-bottom:20px; border:none; border-top:1px dashed $borderColor;}
  ol {padding:0 30px;
    li {font-size:0.8em;}
    @include responsive() {padding-left:60px;}
  }
}

video, iframe {max-width:100%; max-height:500px;}
