/* VARS
 * -----------------------------------------------------------------------------
 */
$contactBlockWidth:470px;
$contactBlockMargin:22px;
$listItemWidth:132px;
$listItemHeight:200px;
$listItemMargin:5px;
$contactListWidth:3 * $listItemWidth + 6 * $listItemMargin;
$contactListPadding:ceil(($contactBlockWidth - $contactListWidth) / 2);
$contentBlockEmailWidth:$listItemWidth + $contactListPadding * 2;
$contactWidth:2 * $contactBlockWidth + 6 * $contactBlockMargin + $contentBlockEmailWidth;
$responsiveHelperWidth:($contactBlockWidth + $contactBlockMargin * 2) * 2;


/* AUTOMATIC SPRITE GENERATION
 * -----------------------------------------------------------------------------
 */
@import "compass/utilities/sprites";
// @import "compass/css3/background-size";
@import "compass/css3/transition";


$sprites: sprite-map("contact-sprite/*.png");
// $sprites2x: sprite-map("contact-sprite2x/*.png");

@mixin sprite-background($name) {
  $imageHeight:image-height(sprite-file($sprites, $name));
  $imageWidth:image-width(sprite-file($sprites, $name));

  top:ceil($listItemHeight/2 - $imageHeight/2);
  left:ceil($listItemWidth/2 - $imageWidth/2);
  
  height:$imageHeight;
  width:$imageWidth;
  
  background-image:sprite-url($sprites);
  background-position:sprite-position($sprites, $name);

  // @media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5) {
  //   background-image: sprite-url($sprites2x);
  //   background-position: 0 round(nth(sprite-position($sprites2x, $name), 2) / 2);
  //   height: round(image-height(sprite-file($sprites2x, $name)) / 2);
  //   width: round(image-width(sprite-file($sprites2x, $name)) /2 );

  //   /* treat the @2x retina sprite sheet as 50% wide for double resolution upon display */
  //   @include background-size(ceil(image-width(sprite-path($sprites2x)) / 2) auto);
  // }
}


/* CONTACT BLOCK STYLES
 * -----------------------------------------------------------------------------
 */
.contact {width:$contactWidth; margin:0 auto; padding:60px 0 40px;}
.contact-block {
  position:relative; float:left; width:$contactBlockWidth; margin:0 $contactBlockMargin;

  h2 {width:100%; margin-bottom:0; text-align:center;}
}


.article .contact-list {width:$contactListWidth; margin:-20px 0 0; padding:0 $contactListPadding; list-style:none;}
.contact-list-item {
  position:relative; float:left; width:$listItemWidth; height:$listItemHeight; margin:0 $listItemMargin;

  a {
    display:block; width:100%; padding-top:$listItemHeight - 60px; text-align:center; font-size:12px; color:$textColor;
    @include transition(padding 0.15s ease-out);

    &:before {content:""; position:absolute; display:block; background-repeat:no-repeat;}
  }

  &:before {content:""; position:absolute; z-index:-1; display:block; opacity:0;}

  &:hover {
    &:before {opacity:1; @include sprite-background('colored-circle');}

    a {padding-top:$listItemHeight - 30px; text-decoration:none; color:$linkColor; font-weight:400;}
    .contact-twitter:before {@include sprite-background('white-twitter');}
    .contact-adn:before {@include sprite-background('white-adn');}
    .contact-gplus:before {@include sprite-background('white-gplus');}
    .contact-ienno:before {@include sprite-background('white-ienno');}
    .contact-senaeh:before {@include sprite-background('white-senaeh');}
    .contact-tumblr:before {@include sprite-background('white-tumblr');}
    .contact-mail:before {@include sprite-background('white-mail');}
  }
}

.contact-twitter:before {@include sprite-background('colored-twitter');}
.contact-adn:before     {@include sprite-background('colored-adn');}
.contact-gplus:before   {@include sprite-background('colored-gplus');}
.contact-ienno:before   {@include sprite-background('colored-ienno');}
.contact-senaeh:before  {@include sprite-background('colored-senaeh');}
.contact-tumblr:before  {@include sprite-background('colored-tumblr');}
.contact-mail:before    {@include sprite-background('colored-mail');}


.contact-block-social-networks {left:-1 * $contentBlockEmailWidth;}
.contact-block-email {
  left:$contactBlockWidth + 2 * $contactBlockMargin; width:$contentBlockEmailWidth; margin-top:-60px;

  .contact-list {width:$listItemWidth;}
  .contact-list-item {float:none; margin:0 auto;}
}

/* MEDIA QUERY
 * -----------------------------------------------------------------------------
 */
@media (max-width:$contactWidth + 15px) {
  .contact {width:$responsiveHelperWidth;}
  .contact-block-responsive-helper {width:$responsiveHelperWidth; margin:0 auto;}

  .contact-block-social-networks {left:0;}
  .contact-block-email {clear:both; left:0; float:none; margin:-30px auto 0;}
}

@media (max-width:$responsiveHelperWidth + 15px) {
  .contact, .contact-block-responsive-helper {width:auto;}

  .contact-block {clear:both; float:none; margin:0 auto 60px;}
  .contact-block-email {margin:-30px auto 40px;}
}