.header {
  height:279px; width:100%; margin-bottom:40px; background:url('../images/bg.jpg') center center no-repeat; background-size:100%; color:white;

  h1 {
    height:200px; margin:0 0 20px; line-height:200px; font-family:"HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue"; font-weight:normal; font-size:80px; letter-spacing:5px; text-transform:uppercase; text-align:center;

    a:hover {text-decoration:none;}
  }

  strong {font-family:"HelveticaNeue-Light", "Helvetica Neue Light"; font-weight:normal;}
  a {color:white;}
}


.main-nav {
  list-style:none; margin:0; padding:0; text-align:center;

  li {
    display:inline-block; text-transform:uppercase; margin-right:40px;

    &:last-child {margin-right:0;}
  }
  
  a {letter-spacing:3px; font-weight:100; font-size:18px;}
}